doctype html
html(lang='nl')
  head
    title= "Chess Daan Zwarthoed"
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel = "apple-touch-icon" type = "image/png" href = "images/whiteKing.png")
    link(rel = "icon" type = "image/png" href = "images/whiteKing.png")
  style 
    include ../static/public/css.css

mixin squarePiece(number, colorPiece, color, piece)
  div(class=number)
    img(src=`images/${colorPiece}.png` alt=`${color} ${piece}` class=`${color} ${piece}`)

mixin row(number, nonePawnOrPieces, color)
  div(class=number)
    if nonePawnOrPieces === "pieces"
      +squarePiece("0", `${color}Rook`, color, "rook")
      +squarePiece("1", `${color}Knight`, color, "knight")
      +squarePiece("2", `${color}Bishop`, color, "bishop")
      +squarePiece("3", `${color}Queen`, color, "queen")
      +squarePiece("4", `${color}King`, color, "king")
      +squarePiece("5", `${color}Bishop`, color, "bishop")
      +squarePiece("6", `${color}Knight`, color, "knight")
      +squarePiece("7", `${color}Rook`, color, "rook")
    else
      each time in ["0", "1", "2", "3", "4", "5", "6", "7"]
        div(class=time)
          if nonePawnOrPieces === "pawn"
            img(src=`images/${color}Pawn.png` alt=`${color} pawn` class=`${color} pawn`)

body
  main(class=userColor)
    section.verlorenPieces
      ul
    div.chessboard
      +row("0", "pieces", "black")
      +row("1", "pawn", "black")
      +row("2", "none")
      +row("3", "none")
      +row("4", "none")
      +row("5", "none")
      +row("6", "pawn", "white")
      +row("7", "pieces", "white")
    section.verlorenPieces
      ul
  section(class=userColor)
    div.clockBlack
      div= timer ? timer.minutenBlack : 10
      div= timer ? timer.secondeBlack : 00
    div.clockWhite
      div= timer ? timer.minutenWhite : 10
      div= timer ? timer.secondeWhite : 00
  if popupStatus != "hidden"
    section(class="roomPopup popup showPopup") 
      div
        if popupStatus == "full"
          p Room is full, join different room or spectate
          a.spectateButton Spectate
        form(class="roomForm" method="post" action="/") 
          label Username
          input(class="usernameInput" name="username" autocomplete="off" required)
          label Choose a room name
          input(class="roomInput" name="room" autocomplete="off" required)
          button Join
  section 
    div.playerInfo 
      div
        p User name:
        p.userName= userName
      div
        p Room name:
        p.roomName= roomName
      div
        p User color:
        p.userColor= userColor
      a(href="/") New lobby
  section.popup 
    div
      p
      button(type="button" name="button") Restart
      a(href="/") New lobby

  script(src="/socket.io/socket.io.js")
  script(type="module")
    include ../static/public/js.js
